.return-asset-row-one{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
}

.return-asset-input{
    width: 55rem;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.return-asset-select{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.return-asset-row-two{
    display: flex;
    margin: 1rem 2rem;
    padding: 1rem;
    border-bottom: 1px solid gray;
    align-items: center;
}

.return-asset-card-items{
    width: 30%;
}

.return-asset-card-heading{
    width: 29.5%;
    font-weight: 900;
}

.return-asset-card-button{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    font-weight: 900;
}

.return-asset-card-button:hover{
    box-shadow: black 2px 2px 5px;
    background-color: white;
}